/* Whole Page */

body {
    background-color: whitesmoke;
}

/* Auxilliary */

title {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/* Main Text Body */

h1 { 
    color: #0009ff ;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h2 {
    color: #0009ff ;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 2vw;
}

#heading {
    font-size: 5vw;
    color: #0009ff ;
    text-align: center;
}


p {
    color: #0088ff;
}

a.plink {
    color: #0088ff;
    font-size: 1vw;
    display: inline;
}

p.footer {
    color: black ;
    font-size: 0.8vw;
    text-align: left;
    margin: 100px, 20px, 20px, 20px;

}

/* Interactivity */



a:link {
    color: #7d03ff;
}

a:visited {
    color: #c403ff;
}

a:hover {
    color: #fb03ff;
}

/* Flexibility */

img {
    max-width: 100% ;
    height: auto ;

}

/* RWD */
@media only screen and (max-width: 600px) {
    iframe {
        width: 426px;
        height: 240px;
    }
    p {font-size: 14px;}
    h1 {font-size: 20px;}
    h2 {font-size: 18px;}
    a.plink {font-size: 14px;}

}

@media only screen and (min-width: 600px) {
    iframe {
        width: 426px;
        height: 240px;
    }
    p {font-size: 16px;}
    h1 {font-size: 22px;}
    h2 {font-size: 20px;}
    a.plink {font-size: 16px;}
}

@media only screen and (min-width: 768px) {
    iframe {
        width: 640px;
        height: 360px;
    }
    p {font-size: 16px;}
    h1 {font-size: 22px;}
    h2 {font-size: 22px;}
    a.plink {font-size: 16px;}
}

@media only screen and (min-width: 992px) {
    iframe {
        width: 854px;
        height: 480px;
    }
    p {font-size: 18px;}
    h1 {font-size: 28px;}
    h2 {font-size: 24px;}   
    a.plink {font-size: 18px;}
}

@media only screen and (min-width: 1200px) {
    iframe  { 
        width: 1280px;
        height: 720px;
    }
    p {font-size: 20px;}
    h1 {font-size: 36px;}
    h2 {font-size: 32px;}
    a.plink {font-size: 20px;}
}

