/* Whole Page */

body {
    background-color: whitesmoke;
}

/* Auxilliary */

title {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/* Main Text Body */

h1 { 
    font-size: 2vw;
    color: #2049fd ;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h2 {
    color: #2049ff ;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#heading {
    color: #2049ff ;
    text-align: center;
}

p {
    color: #00509f;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

a {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

a.plink {
    display: inline;
}

p.footer {
    color: black ;
    text-align: left;
    margin: 100px, 20px, 20px, 20px;
}

ol {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

ol li a.qlink {
    text-decoration: none;
    color: white;
    text-align: center;
    display: inline-block;
    background-color: blueviolet;
}

ol li a.alink {
    text-decoration: none;
    color: white;
    text-align: right;
    display: inline-block;
    background-color: blueviolet;
}

ol li a:hover {
    background-color: #7000ff;
}

ol li a:visited {
    background-color: #c403ff;
}

/* Interactivity */

a:link {
    color: #7d03ff;
}

a:visited {
    color: #c403ff;
}

a:hover {
    color: #fb03ff;
}

ul.topnav {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #7030b0;
    overflow: hidden;
}

ul.topnav li {
    float: left;
}

ul.topnav li a {
    display: block;
    text-decoration: none;
    color: white;
    text-align: center;
}

ul.topnav li a.active {
    background-color: #7000ff;
}

ul.topnav li a:hover:not(.active) {
    background-color: #a030a0;
}

/* Flexibility */

img {
    max-width: 100% ;
    height: auto ;
}

/* RWD */
@media only screen and (max-width: 600px) {
    iframe {
        width: 426px;
        height: 240px;
    }
    p {font-size: 14px;}
    p.footer {font-size: 10px;}
    h1 {font-size: 24px;}
    h2 {font-size: 18px;}
    a.plink {font-size: 14px;}
    a.navlink {font-size: 14px;}
    ul.topnav li {width: 60px; padding: 6px 12px;}
    ol li {padding: 8px 4px;font-size: 14px;}
    ol li a {padding: 4px 8px;}
}

@media only screen and (min-width: 600px) {
    iframe {
        width: 426px;
        height: 240px;
    }
    p {font-size: 16px;}
    p.footer {font-size: 12px;}
    h1 {font-size: 28px;}
    h2 {font-size: 20px;}
    a.plink {font-size: 16px;}
    a.navlink {font-size: 16px;}
    ul.topnav li a {width: 80px; padding: 10px 18px;}
    ol li {padding: 10px 5px;font-size: 16px;}
    ol li a {padding: 4px 8px;}
}

@media only screen and (min-width: 768px) {
    iframe {
        width: 640px;
        height: 360px;
    }
    p {font-size: 16px;}
    p.footer {font-size: 12px;}
    h1 {font-size: 28px;}
    h2 {font-size: 22px;}
    a.plink {font-size: 16px;}
    a.navlink {font-size: 16px;}
    ul.topnav li a {width: 80px;padding: 10px 20px;}
    ol li {padding: 12px 6px;font-size: 16px;}
    ol li a {padding: 6px 12px;}
}

@media only screen and (min-width: 992px) {
    iframe {
        width: 854px;
        height: 480px;
    }
    p {font-size: 18px;}
    p.footer {font-size: 12px;}
    h1 {font-size: 36px;}
    h2 {font-size: 24px;}   
    a.plink {font-size: 18px;}
    a.navlink {font-size: 18px;}
    ul.topnav li a {width: 100px;padding: 10px 22px;}
    ol li {padding: 14px 7px;font-size: 18px;}
    ol li a {padding: 6px 12px;}
}

@media only screen and (min-width: 1200px) {
    iframe  { 
        width: 1280px;
        height: 720px;
    }
    p {font-size: 20px;}
    p.footer {font-size: 14px;}
    h1 {font-size: 48px;}
    h2 {font-size: 32px;}
    a.plink {font-size: 20px;}
    a.navlink {font-size: 20px;}
    ul.topnav li a {width: 120px;padding: 10px 24px;}
    ol li {padding: 16px 8px;font-size: 20px;}
    ol li a {padding: 8px 16px;}
}

